<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/base.css"   />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    {% block extra_css %}{% endblock %}

</head>
<body>
    <nav class="navbar">
        <h1 class="title">Destination Bucket List</h1>
        <ul class="navigation-list">
            <li ><a href="{% url 'public_destination_list' %}" class="navigation-links" >Public destinations</a></li>
            {% if not is_admin %}
                <li><a  href="{% url 'private_destination_list' %}" class="navigation-links" style="text-decoration: none">Private destinations</a></li>
             {% endif %}
            <li><a href="{% url 'logout' %}" type="button" class="btn btn-outline-light">
                Logout
            </a></li>

        </ul>
    </nav>
    {% block content %} {% endblock %}
    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>