{% extends 'base.html' %}

{% block extra_css %}
<link href=" ../static/public-destinations-list.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="w-100 p-3 d-flex flex-row-reverse">
    <a href="#" type="button" class="btn btn-primary">Add public destination</a>
</div>
<div class="public-destination-list-container">
    {% for destination in destinations %}
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="{{ destination.image }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ destination.title }}</h5>
                <p class="card-text">{{ destination.description }}</p>
                <a href="#" type="button" class="btn btn-primary">View Details</a>
                <a href="#" type="button"  class="btn btn-outline-primary">Add to private list</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
