{% extends 'base.html' %}

{% block content %}
    <form method="post" class="p-3">
    {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% for error in field.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
        {% endfor %}
        {#        <div class="form-group">#}
{#            <label for="geolocation">Geolocation</label>#}
{#            <input type="text" class="form-control" id="geolocation" name="geolocation"  aria-describedby="geolocationHelp" placeholder="Geolocation" required>#}
{#            <small id="geolocationHelp" class="form-text text-muted">The format should be like this: </small>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="title">Title</label>#}
{#            <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="image">Image URL</label>#}
{#            <input type="text" class="form-control" id="image" name="image" aria-describedby="imageHelp" placeholder="Image URL" required>#}
{#            <small id="imageHelp" class="form-text text-muted">Please paste the entire URL of the image you want to use</small>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="description">Description</label>#}
{#            <textarea class="form-control" id="description" name="description" placeholder="Description" required></textarea>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="arrival_date">Arrival Date:</label>#}
{#            <input class="form-control" type="date" id="arrival_date" name="arrival_date"><br>#}
{#        </div>#}
{#        <div class="form-group">#}
{#                <label for="departure_date">Departure Date:</label>#}
{#                <input class="form-control" type="date" id="departure_date" name="departure_date"><br>#}
{#        </div>#}
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}
{% endif %}
        <button class="btn btn-primary" type="submit" >Add private destination</button>
</form>
{% endblock %}